<div>
    <!-- <span class="table-info">combining data from the following tables, while emitting only one at a time</span> -->
</div>
<div class="parent" [ngSwitch]="modelService.appState">
    <div class="div5">
        <div class="loading-container" *ngSwitchCase="'loading'">
            <div class="loader4"></div>
            <p>loading...</p>
        </div>
        <div class="error" *ngSwitchCase="'error'">
            <div class="retries">
                <p class="imoji">😏</p>
                error: All retries failed, the fall back mechanism ruturned...
                <p>{{modelService.apiRes}}</p>
            </div>
        </div>
        <div class="retry-count" *ngSwitchCase="'retry'">{{modelService.retryCount}}</div>
        <div class="fallback" *ngSwitchCase="'fallback'">fallback</div>
        <div class="success" *ngSwitchCase="'resSucess'">
            API response success
            <p>{{modelService.apiRes}}</p>
        </div>
    </div>
</div>