<div class="parent">
  <div class="div1">
    <button
    pButton 
    pRipple 
    label="click here to start" 
    (click)="modelService.simulateHttpRes()"
    class="p-button-primary">
    </button>
  </div>

  <div class="div2"> 
    <div class="api-count">
      <span>{{modelService.i}} out of {{modelService.httpResponse.length}}</span>
    </div>
    <div class="fail-guage">
      <p-slider [(ngModel)]="modelService.failChances" [step]="1"  styleClass="w-14rem"/>
      <p>Increase chances of failure</p>
    </div>
    
  </div>
  <div class="div3">

    <app-combine-latest/>
   </div>
  </div>