/* You can add global styles to this file, and also import other style files */
@layer reset, primeng;
@import "primeicons/primeicons.css";

body{
    margin: 0;
    height: 100vh;
    background: rgb(214,233,236);
// background: linear-gradient(126deg, rgba(214,233,236,1) 0%, rgba(157,156,156,0.8995973389355743) 52%, rgba(238,238,238,1) 52%);
}